<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/static/accueil/style.css">
</head>
<body>
    <h1>{{ message }}</h1>
    <p>Nous sommes le {{ date_du_jour }}</p>

    <form method="post" action="{% url 'ajouter_tache' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter Tâche</button>
    </form>

    <h2>Liste de tâches :</h2>
    <ul>
        {% for tache in taches %}
            <li>{{ tache }}</li>
        {% endfor %}
    </ul>

    <p>Le paragraphe ajouté !</p>
</body>
</html>